Dear, <%= invitee %><! <br> <br>
Your friend <%= inviter %> wants you to join <a href="http://crowdshelf.github.io">CrowdShelf</a>.
<br><br>

To join, download the app for either <a href="">iOS</a> or <a href="https://play.google.com/store/apps/details?id=ntnu.stud.markul.crowdshelf">Android</a>, and register there. We're looking forward to seeing you!

<br> <br>
Thank you for using CrowdShelf.